
.button{
  display: flex;
  justify-content: center;
  margin: 20px 0px 0px 0px ;
}
.icon{
  display: flex;
  justify-content: space-around;
}
.full-tabale{
  margin: 20px;
}
@media (max-width: 480px) {
  
 }

/* Tablets */
@media (max-width: 768px) { 

  
}

/* Laptops */
@media (max-width: 1024px) {
  
 }

/* Desktops */
@media (max-width: 1400px) {
  .Home{
  margin-top: 20px;
  
}

.fill_data{
  display: flex;
  justify-content: space-around;
  margin: 10px ;
  flex-wrap: wrap;
}
.data-item{
  display: flex;
  flex-direction: column;
}
}